# Dependencies
node_modules/

# Production build
dist/

# IDE
.vscode/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local

# Nothing to see here
not_repo_token
