@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor-glow {
  display: none;
}

.section {
  transition: border-color 0.2s ease;
}

@media (min-width: 1024px) {
  .cursor-glow {
    display: block;
  }
}
